body {
    background-color: #23272b;
    font-family: sans-serif;
    color: white;
}

/*override bootstrap*/
.form-control {
    background-color: #545b62!important;
    color: white!important;
}

.task-wrapper {
    background-color: #343a40;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
}

.task-title {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.task-footer {
    margin-top: 40px;
    border-top: 1px solid white;
    padding-top: 10px;
    text-align: center;
}

.description-box {
    width: 100%;
    border-radius: 10px;
    background-color: #6c757d;
    padding: 15px;
    min-height: 40px;
}