{% extends 'base.html.twig' %}

{% block title %}Add Task{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}
{% endblock %}